<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .note {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #333;
            background-color: #f5f5f5;
        }
        .note.red {
            background-color: #fdd;
        }
        .note.green {
            background-color: #dfd;
        }
        .note.blue {
            background-color: #ddf5fd;
        }
    </style>
</head>
<body>
    <h1>Notas</h1>
    {% for nota in notas %}
    <p class="note {% if nota < 5 %}red{% elif nota >= 5 and nota < 8 %}green{% else %}blue{% endif %}">{{ nota }}</p>
    {% endfor %}
</body>
</html>